<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theultimatelabs.nfcblanket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        
        <activity
            android:name="com.theultimatelabs.abcs.NfcAbcsActivity"
            android:label="theUltimateAbcs" 

           
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
			<!-- <intent-filter>
			    <action android:name="android.nfc.action.NDEF_DISCOVERED" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <data android:scheme="nfc"
			        android:host="theultimatelabs.com"
			        android:pathPrefix="/A" />
			</intent-filter> -->
			
			<intent-filter>
    			<action android:name="android.nfc.action.NDEF_DISCOVERED" />
   				<category android:name="android.intent.category.DEFAULT" />
    			<data android:mimeType="application/com.theultimatelabs.nfcblanket" />
			</intent-filter>

			
            <!-- <intent-filter>
			    <action android:name="android.nfc.action.TECH_DISCOVERED"/>
			</intent-filter>

			<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
    			android:resource="@xml/nfc_tech" />-->

        </activity>
    </application>

</manifest>